<div class="jumbotron">
<h1>This is the first page of the Internet.</h1>
<p>
	Like that, bitches. Find me on
	<%= link_to "Facebook", "http://facebook.com/i.strikhar"%>
	page.
</p>

<p>
	<%= link_to "Sign Up Now!", "#", class:"btn btn-success btn-lg" %>
</p>
</div>
